.speech {
  font-size: 12px;
  font-style: italic;
  color: blue;
  font-family: "Times New Roman";
}

.direction {
  font-size: 17px;
  font-style: italic;
  color: black;
  background-color: lavender;
  font-family: "Times New Roman";
}

.name {
  font-size: 17px;
  font-style: italic;
  color: black;
  font-family: "Times New Roman";
}

.Dorine:hover {
 
  border: solid 2.5px rgb(189, 25, 25);
  
  text-shadow:2px 3px 5px rgb(39, 26, 221);
  color: transparent;

}
.Orgon:hover {
  border: solid 2.5px rgb(29, 208, 166);
  
  text-shadow:2px 3px 5px rgb(218, 27, 74);
  color: transparent;
}

h4.name {
  margin-block: auto;
}

.Dorine {
  color:rgb(168, 14, 14);
}
 Orgon
.Orgon {
  color:rgb(34, 201, 201)
}



table {
  border: solid 3px rgb(22, 18, 224);
  width: 72%;
  border-collapse: collapse;
  margin: 5px;
  padding: 10%;
}

th, td {
  border: solid 2px;
  
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #f0db21;
  text-align: left;

}

ul.navbar-horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.navbar-horizontal li {
  float:left;
  background-color: darkviolet;
}
ul.navbar-horizontal a {
  display:block;
  padding:8px;
  color: floralwhite;
}
ul.navbar-horizontal a:hover {
  background-color: darkslateblue;
  color:yellowgreen;
}

h6.Dorine:hover {
  border: 2px solid rgb(207, 190, 201);
  box-shadow: 2px 3px rgb(223, 190, 211);
}


